.usercon{
    padding: 50px 0;
}

.userh{
    width: 90%;
    margin: 10px auto;
}
.userconin{
    gap: 20px;
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display: flex;
}

.accordion-container {
  width: 90%;
  /* max-width: 600px; */
  /* margin: 20px auto; */
  font-family: 'Segoe UI', sans-serif;
}

.accordion-item {
  border: 1px solid #dddddd77;
  margin-bottom: 10px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.014);
}

.accordion-title {
  background-color: #f5f5f54a;
  padding: 18px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.accordion-title:hover {
  background-color: #e0e0e041;
}

.accordion-title.active {
  /* background-color: #d1e7dd; */
  color: var(--main);
}

.accordion-content {
  padding: 15px 20px;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}











.col2 form {
  width: 450px;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid var(--fade);
  
  box-shadow: 1px 1px 3px rgba(59, 59, 59, 0.415);
}


.col2 form p{
    color:#0061ff;
}

.col2 form .row{
    display: flex;
    gap: 10px;
}
.col2 form .row .col{
    width: 100%;
    margin-bottom: 10px;
}
.col2 form .row .col input{
    width: 100%;
    height: 45px;
    border: 1px solid var(--fade);
    border-radius: 3px;
    padding: 0 10px;
    color: rgb(73, 73, 73);
    margin-top: 5px;
    background-color : transparent;
}

.col2 form .row .col textarea{
    width: 100%;
    border: 1px solid var(--fade);
    border-radius: 3px;
    padding: 10px 10px;
    color: rgb(73, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    background-color : transparent;
}
.col2 form .row .col input, .col2 form .row .col textarea{
    outline: transparent;
    /* border: 1px solid rgb(206, 206, 206);
    border-radius: 3px;*/
} 

form button{
    background-color: var(--main);
    border: transparent;
    padding: 15px 0px;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 15px;
    border-radius: 12px;
}



@media only screen and (max-width:1000px) {
   .userconin{
    width: 95%;
   }
}

@media only screen and (max-width:920px) {
    .userconin{
        flex-direction: column;
    }

    .accordion-container{
        width: 100%;
    }

    .col2 form{
        width: 100%;
        margin: auto;
    }
}